#slide3 {
	/*background-image: url("images/catalogo/1.jpg");*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*font-family: 'Times New Roman', Times, serif;*/
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #d1ba97;
}

.uncrop>.row {
	margin: 30px 10px 0 10px;
	border: 2px solid;
	border-color: #544a3c;
	border-radius: 10px;
}

.catalogoBtn {
	margin-top: 5px;
}

.btnMdLeft {

	display: none;
}

.btnMdRight {
	display: flex;
}


@media (min-width:572px) {
	.btnMdLeft {

		display: flex;
		padding-left: auto;
		padding-right: auto;
	}

	.btnMdRight {
		display: none;
	}
}

@media (min-width:768px) {
	.btnMdLeft {

		display: none;
	}

	.btnMdRight {
		display: flex;
	}
}

img {
	border-radius: 10px 0 0 10px;
}

/*@media (min-width:)*/

.border-bottomCSS {
	border-bottom: 2px solid;
	border-color: #544a3c;
}

.bg-b {
	background-color: black;
}
