#slide3 {
	/*background-image: url("images/catalogo/1.jpg");*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*font-family: 'Times New Roman', Times, serif;*/
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #d1ba97;
}

.uncrop>.row {
	margin: 30px 10px 0 10px;
	border: 2px solid;
	border-color: #544a3c;
	border-radius: 10px;
}

img {
	border-radius: 10px 0 0 10px;
}

.border-bottomCSS {
	border-bottom: 2px solid;
	border-color: #544a3c;
}

.bg-b {
	background-color: black;
}
