.navbarList {
	display: flex;
	list-style-type: none;
	margin: auto;
	justify-content: space-evenly;
	align-items: center;
	background-color: #1e2c39;
}

.navbar,
.nav-link {

	color: #d1ba97;
	background-color: #1e2c39;
}

.navbar-brand {
	font-weight: 700;
	color: #d1ba97;
}

.navbar-brand img {
	width: 50px;
	margin-left: 10px;
}

/*nav a:link {*/
/*	color: white;*/
/*	text-decoration: none;*/
/*}*/
/**/
/*nav a:visited {*/
/*	color: gray;*/
/*}*/

li {
	padding: 10px;
}

.rightMost {
	/*mar: auto;*/
}

body {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 80px;
}

#slide1 {
	background-image: url("images/holdingKeys.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*font-family: 'Times New Roman', Times, serif;*/
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-top: 70px;
	color: #d1ba97;
}

.navbar-toggler {
	background-color: #d1ba97;
	color: transparent;
}

#logoImg {
	margin-left: 0;
}

#img2 {
	border-radius: 25px;
	margin-bottom: 20px;
}

.catalogoBtn {
	background-color: #d1ba97;
	margin-top: 30px;
}

.opacity {
	/*creado para disminuir brillo*/
	min-height: 100vh;
	background: rgba(0, 0, 0, 0.7);
}

.padTop {
	padding-top: 90px;
}
