<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ARVHIA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="../static/ARVHIA/styles.css" rel="stylesheet">
    <link href="../static/ARVHIA/styles_about.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-md fixed-top  ">
        <div class="container-fluid ">
            <a class="navbar-brand" href="../index.html"><img src="../static/ARVHIA/images/arvhia.jpg" alt="ARVHIA"
                    class="">
                <span class="align-items-center">ARVHIA</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <a class="nav-link" href="../index.html">Home</a>
                    <a class="nav-link" href="../views/about.html">Acerca de</a>
                    <a class="nav-link" href="../views/servicios.html">Servicios</a>
                    <a class="nav-link" href="../views/catalogo.html">Nuestro Catalogo</a>
                    <a class="nav-link" href="../views/contacto.html">Contacto</a>
                    <a class="nav-link" href="../views/blog.html">Blog</a>
                </div>
            </div>
        </div>
    </nav>



    <div id="slide4">
        <div class="opacity padTop container-fluid uncrop">
            <div class=" row ms-5 fs-1 pb-5">
                ¡Conocenos!
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
</body>

</html>
