<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ARVHIA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="../static/ARVHIA/styles.css" rel="stylesheet">
    <link href="../static/ARVHIA/styles_catalogo.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/ARVHIA/images/arvhia020625.jpg">
    <script src="../javascript/headViews.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-md fixed-top  ">
    </nav>

    <div id="slide3">
        <div class="opacity padTop container-fluid uncrop">
            <div class=" row">
                <div class="col-sm-4 ps-0">
                    <!--Img columna-->
                    <img src="../static/ARVHIA/images/catalogo/-001-1.jpg" class="img-fluid" alt="">
                    <div class="row btnMdLeft mt-1">
                        <form id="consignar" action="" action="get" class="d-grid">
                            <button class="btn catalogoBtn" type="submit">Contactar</button>
                        </form>
                    </div>
                </div>
                <div class="col-sm">
                    <!--Descripcion columna-->
                    <div class="row pt-3 fs-2">
                        $1,500,000
                    </div>
                    <div class="row pt-4 fs-4">
                        Los Arcos, Irapuato, Guanajuato
                    </div>
                    <div class="row pt-3 fs-6">
                        120m2
                    </div>
                    <div class="row pt-2 fs-6 border-bottomCSS">
                        En venta, excelentes condiciones. Se encuentra al lado de...
                    </div>
                    <div class="row-md btnMdRight mt-1 ">
                        <div class="col">
                            <form id="consignar" class="d-grid">
                                <button class="btn catalogoBtn " type="submit">Contactar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <!--<h3>test2</h3>-->
            </div>
        </div>
    </div>

    <div class="footer">

    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
    <script src="../javascript/script.js"></script>
    <script src="../javascript/navbar.js"></script>
</body>

</html>
