<div class=" vhSlideFooter pt-1">
    <div class="container" ">
                <div class=" row">
        <div class="col-lg  text-center">
            <img src="../static/ARVHIA/images/arvhia060625.png" class="imgFooter" alt="">
            <!--<h1 class="">¿Tienes una casa sin usar?</h1>-->
            <!--<h3 class="mt-4">¡Nosotros te ayudamos a rentarla!</h3>-->
            <!--Terminos y condiciones.-->
        </div>
        <div class="col-lg text-center iconsPref">
            <a href="mailto:contacto.arvhia@gmail.com">
                <i class="bi bi-envelope-at iconFooter"></i>
            </a>
            <a id="alinkNumero">
                <i class="bi bi-whatsapp iconFooter"></i>
            </a>
            <a href="https://www.facebook.com/share/19J4utf5hG/?mibextid=wwXIfr">
                <i class="bi bi-facebook iconFooter"></i>
            </a>
            <a href="https://www.instagram.com/arvhia.mx?igsh=MWhrdTIyejRvczBieg%3D%3D&utm_source=qr"><i
                    class="bi bi-instagram iconFooter"></i></a>
        </div>
    </div>
</div>
</div>
