<div class="container-fluid ">
    <a class="navbar-brand" href="index.html"><img src="static/ARVHIA/images/arvhia020625.jpg" alt="ARVHIA" class="">
        <!--<span class="align-items-center">ARVHIA</span>-->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
            <a class="nav-link" aria-current="page" href="#">Inicio</a>
            <a class="nav-link" href="views/about.html">Sobre Nosotros</a>
            <!--<a class="nav-link" href="views/servicios.html">Servicios</a>-->
            <!--<a class="nav-link" href="views/catalogo.html">Nuestro Catalogo</a>-->
            <!--<a class="nav-link" href="views/contacto.html">Contacto</a>-->
            <a class="nav-link" href="views/inmobiliaria.html">Inmobiliaria</a>
            <a class="nav-link" href="views/Arquitectura.html">Arquitectura</a>
            <a class="nav-link" href="views/blog.html">Blog</a>
        </div>
    </div>
</div>
