<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ARVHIA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="../static/ARVHIA/styles.css" rel="stylesheet">
    <link href="../static/ARVHIA/styles_servicios.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/ARVHIA/images/arvhia020625.jpg">
</head>

<body>

    <nav class="navbar navbar-expand-md fixed-top  ">
        <script src="../javascript/navbar.js"></script>
    </nav>


    <div id="slide2">
        <div class="opacity padTop">
            <div class="container" style="background-color:;">
                <div class="row">
                    <div class="col">
                        <h1>Nuestros servicios</h1>
                    </div>
                    <div class="col-md">
                        <h3>Consigna tu propiedad</h3>
                        <form id="consignar" action="" action="get">
                            <input type="submit" class="btn catalogoBtn mb-3" value="Consignar">
                        </form>
                        <h3>Invierte en una propiedad</h3>
                        <form action="catalogo.html" action="get">
                            <input type="submit" class="btn catalogoBtn mb-3" value="Invertir">
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>

    <script src="../javascript/script.js"></script>
</body>

</html>
